<h1>Sub: <%= @sub.title %></h1>
<h2>Description</h2>
<p>
  <%= @sub.description %>
</p>


<%= link_to "Make a post!", new_post_url %>
<h2>Posts....</h2>
<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <%= link_to "#{post.title}", post_url(post) %>
      <%= button_to "+" , post_upvote_url(post) %>
      <%= button_to "-" , post_downvote_url(post) %>
    </li>
  <% end %>
</ul>


<%= link_to "Edit this sub!", edit_sub_url(@sub)  %>
