<h1>Edit Post!</h1>

<form action= "<%= post_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">
  <label>
    Title: <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>
  <label>
    URL: <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>
  <label>
    Content: <textarea cols="40" rows="8" name="post[content]"><%= @post.content %></textarea>
  </label>
  <br>

  <% Sub.all.each do |sub| %>
    <label>
      <input type="checkbox" name= "post[sub_ids][]" value= "<%= sub.id %>" >
      <%= sub.title %>
    </label>
    <br>
  <% end %>
  <input type="submit" name="create" value="Modify you post">
</form>
